@import "tailwindcss";

@theme {
  --color-brand-brown: #4E3629;
  --color-brand-gold: #B39254;
  --color-brand-gold-light: #E2D0A5;
  --color-bg-cream: #FAF8F5;
  --color-text-dark: #1A1A1A;
  --font-serif: var(--font-cinzel);
  --font-sans: var(--font-work-sans);
}

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #1A1A1A;
  }
  
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }
}
